/* your custom css */

@font-face {
  font-family: "SofiaProLight";
  font-weight: 300;
  src: url(/fonts/SofiaProLight.woff2), url(/fonts/SofiaProLight.woff);
}

@font-face {
  font-family: "SofiaProRegular";
  font-weight: 400;
  src: url(/fonts/SofiaProRegular.woff2), url(/fonts/SofiaProRegular.woff);
}

@font-face {
  font-family: "SofiaProBold";
  font-weight: 700;
  src: url(/fonts/SofiaProBold.woff2), url(/fonts/SofiaProBold.woff);
}

.fixedHeaderContainer * {
  background-color: black !important;
}

.fixedHeaderContainer {
  background-color: black !important;
}

body {
  color: #24292e;
  font-family: 'SofiaProRegular', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.navListItemActive {
  background-color: lightgrey;
}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}